<div class="container">
  <div class="card-header">
    <h1 class="card-title">Listado de usuarios</h1>
    <button class="btn btn-success btn-sm float-right" (click)="openDialog()">
      <i class="fas fa-plus"> </i>Nuevo Usuario
    </button>
  </div>

  <div class="container-fluid mt-4 ">
    <div class="row">
      <div class="col-md-12 col-lg-4 col-sm-3 card-profile" *ngFor="let item of usuarios">
        <div class="card" style="width: 18rem;">
          <span class="badge bg-success float-right">{{item.rol | uppercase}}</span>
          <div class="imageProfile" *ngIf="item.imageUser">

            <img [src]="item.imageUser "  width="150" class=" img-fluid rounded-circle mb-1 img-thumbnail shadow-sm" alt="user-profile" #profileImage>
          </div>
          <div class="card-body">
            <h2 class="card-title">{{item.user}}</h2>
          </div>
          <div class="card-footer">
            <a (click)="editUser(item)" class="btn btn-primary">
              <i class="fa fa-edit"></i>
            </a>
            <a  class="btn btn-danger float-right"
            (click)="deleteUser(item)"
            *ngIf="isAdmin()">
              <i class="fa fa-trash"></i>
            </a>
          </div>


        </div>
      </div>
    </div>


  </div>