<app-cabecera-pages></app-cabecera-pages>
  <div class="card-header">
    <h3 class="card-title"><b>Listado de usuarios</b></h3>
    <button class="btn btn-success btn-sm float-right" (click)="abrirModalRegistroUsuario()"><i class="fas fa-plus"></i>Nuevo Registro</button>
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Rol</th>
        <th scope="col">Status</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of usuarios">
        <td>{{item.user}}</td>
        <td>{{item.rol}}</td>
        <td>{{item.status}}</td>
        <td><span>
            <i class="fa-solid fa-pen-to-square iconos edit"></i>
            <i class="fa-solid fa-trash iconos delete"></i>
        </span></td>
      </tr>
    </tbody>
  </table>
 


<!-- Modal -->

         <div class="modal fade" id="modal_registro_usuario" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registro Usuario</h5>
            </div>
            <!-- Registro usuario Modal -->
            <div class="modal-body">
              <div class="row">
                <div class="col-12 form-group">
                  <label>Usuario</label>
                  <input type="text" id="user" class="form-control">
                </div>

                <div class="col-12 form-group">
                  <label>Contraseña</label>
                  <input type="password" id="password" class="form-control">
                </div>

                  <div class="col-12 form-group">
                  <label>Rol</label>
                  <select class="form-control">
                    <option selected>Seleccciona una opcion</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                  </select>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reset()">Cerrar</button>
              <button type="button" class="btn btn-primary" (click)="registrarUser()" >Registrar</button>
            </div>
          </div>
        </div>
      </div>
    
    <!-- fin modal -->