<h1 mat-dialog-title>{{Titulo}}</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    
    <mat-form-field appearance="outline">
      <mat-label>Identificador</mat-label>
      <input formControlName="code" matInput placeholder="Code" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input formControlName="user" matInput placeholder="Usuario" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol" placeholder="Rol">
        <mat-option value="Administrador">Administrador</mat-option>
        <mat-option value="Usuario">Usuario</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text' "formControlName="password" matInput placeholder="Contraseña" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" matInput placeholder="Status">
        <mat-option value="Activo">Activo</mat-option>
        <mat-option value="Desactivado">Desactivado</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addUser(productForm.value)">{{actionBtn}}</button>

</div>
