<h1 mat-dialog-title>Añadir Usuario</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Code</mat-label>
      <input formControlName="code" matInput placeholder="code" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input formControlName="user" matInput placeholder="Usuario" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol" placeholder="Rol">
        <mat-option value="Admin">Administrador</mat-option>
        <mat-option value="Usuario">Usuario</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input formControlName="password" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" />
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-form-field *ngIf="editData" appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" placeholder="Status">
        <mat-option value="Activo">Activo</mat-option>
        <mat-option value="Inactivo">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addUser(productForm.value)">{{actionBtn}}</button>
</div>
